/* Salary.css */

.salary-category {
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h3 {
    color: #3498db;
  }
  
  p {
    margin-bottom: 8px;
  }
  